* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.divPagina {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(
    rgba(243, 206, 158, 1),
    rgba(244, 139, 123, 0.72),
    rgba(229, 76, 145, 0.78)
  );
}

.parteEsquerda {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  height: 100%;

  h2 {
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 62px;
  }

  img {
    width: 150px;
  }
}

.parteDireita {
  display: flex;
  background: radial-gradient(
    rgba(229, 76, 145, 0.39),
    rgba(244, 139, 123, 0.24),
    rgba(244, 139, 123, 1)
  );
  border: 12px solid rgba(255, 255, 255, 1);
  border-radius: 24px;
  width: 70%;
  height: 80%;
}

.retangulo {
  border-radius: 10px;
  background: linear-gradient(
    rgba(229, 76, 145, 1),
    rgba(244, 139, 123, 1),
    rgba(247, 173, 80, 1)
  );
  height: 100%;
  width: 30%;

  box-shadow: 5px 0px 20px 0px rgba(0, 0, 0, 0.25);

  .linhas {
    position: absolute;
    bottom: 130px;
    height: 60%;
    left: 470px;
    z-index: 1;
  }

  .pessoa {
    position: absolute;
    z-index: 2;
    bottom: 260px;
    height: 50%;
    left: 470px;
  }
}

.login {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 50px;

  padding-right: 50px;
}

.titulo {
  width: 100%;
  padding-left: 50px;
  padding-top: 30px;
  display: flex;
  gap: 10px;

  .ad {
    background: linear-gradient(rgba(247, 173, 80, 1), rgba(235, 67, 53, 1));
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0.1);
  }
}

.divButoes {
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  gap: 50px;
  width: 70%;

  button {
    font-family: "Inter";
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    border: 2px solid rgba(22, 34, 49, 1);
    border-radius: 8px;
    padding: 10px 10px;
    width: 25%;

    div {
      background-image: url(../assets/f.svg);
      background-repeat: no-repeat;
      background-position: bottom;
      width: 22%;
      height: 100%;
      background-color: rgba(24, 119, 242, 1);
      border-radius: 9999px;
    }
  }
}

.or {
  display: flex;
  justify-content: center;
  width: 70%;
  font-weight: 600;
  font-size: 26px;
}

.inputs {
  background: none;
  width: 70%;
  height: 10%;
  padding-left: 20px;
  font-family: "Inria";
  font-weight: 700;
  font-size: 24px;
  color: rgba(21, 34, 53, 1);
  border-radius: 8px;
  border: 3px solid rgba(26, 25, 25, 1);

  box-shadow: 5px 6px 0px 8px black;
}

.input1 {
  background-image: url(../assets/Icon-Email-Fram1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 560px;
}

.input2 {
  background-image: url(../assets/icon-senha.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 560px;
}

.inputs::placeholder {
  font-family: "Inria";
  font-weight: 700;
  font-size: 24px;
  color: rgba(21, 34, 53, 1);
}

.inputs:focus {
  outline: none;
}

.divSignUp {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 70%;
  font-size: 16px;
  button {
    font-size: 16px;
    background: none;
    border: none;
    gap: 10px;
    background: linear-gradient(rgba(247, 173, 80, 1), rgba(235, 67, 53, 1));
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0.1);
  }
}

.divLogin {
  display: flex;
  justify-content: flex-end;
  width: 70%;
  height: 10%;
  button {
    width: 40%;
    height: 100%;
    background: none;
    font-family: "Inria";
    font-weight: 700;
    font-size: 24px;
    color: rgba(21, 34, 53, 1);
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 14px;
    box-shadow: 5px 6px 0px 8px black;
  }
}
